#labor, #overhead-expenses, #p-incentive, #s-royalty{
    width: 50px;
}

/* body{
    background-color: !important;
} */

.btn{
    display: block !important;
    margin: 10px auto 10px auto;
}

/* .title{
    width: 200px;
} */

@media only screen and (max-width: 600px){
    .title{
        width: 250px;
    }
}

